.container4{
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../IMG/image.png);
    height: 442px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.filter{
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 442px;
}

.design{
    width: 1170px;
    margin: 0 auto;
    height: 442px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caption-type2{
    width: 1170px;
    height: 280px;
}

.caption-type2__title{
    width: 100%;
    height: 90px;
    padding: 70px 0px 5px 0px;
    margin: 0 auto;
    font-family:'Raleway';
    font-size: 36px;
    text-align: center;
    color: #FFF;
}
.caption-type2__line{
    border-bottom: 1px solid;
    width: 170px;
    color: #FFF;
}

.caption-type2__subtitle{
    width: 100%;
    height: 21px;
    color: #FFF;
    font-family:'Raleway';
    font-size: 18px;
    text-align: center;
}

.design-button{
    color: #FFF;
    width: 370px;
    height: 58px;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans';
    line-height: 58px;
    border: 2px solid white;
    background-color: transparent;
}

.design-button_hover_active:hover{
    color: #EC7979;
    border: 2px solid #EC7979;
}

.design-button_hover_active:active{
    color: white;
    border: 2px solid #AB4949;
    background-color: #AB4949;
}

@media screen and (max-width: 1220px) {
    .design{
        width: 1110px;
    }
    .caption-type2{
        width: 1110px;
    }
}

@media screen and (max-width: 1150px) {
    .design{
        width: 1000px;
    }
    .caption-type2{
        width: 1000px;
    }
    .caption-type2__title{
        font-size: 30px;
    }
    .caption-type2__line{
        width: 150px;
    }
        .caption__subtitle{
            font-size: 16px;
    }
}

@media screen and (max-width: 1025px) {
    .design{
        width: 992px;
    }
    .caption-type2{
        width: 992px;
    }
    .caption-type2__title{
        font-size: 24px;
        height: 60px;
    }
    .caption-type2__subtitle{
        font-size: 14px;
    }
    .caption-type2__line{
        width: 120px;
    }
    .design-button{
        width: 318px;
    }
}

@media screen and (max-width: 1015px) {
    .design{
        width: 700px;
    }
    .caption-type2{
        width: 700px;
    }
}

@media screen and (max-width: 722px) {
    .design{
        width: 288px;
        height: 340px;
    }
    .caption-type2{
        width: 288px;
    }
    .caption-type2__title{
        font-size: 18px;
        height: 60px;
    }
    .caption-type2__subtitle{
        font-size: 13px;
    }
    .container4{
        height: 380px;
    }
    .design-button{
        height: 50px;
        width: 286px;
        line-height: 45px;
    }
}

@media screen and (max-width: 310px) {
    .design{
        width: 255px;
    }
    .caption-type2{
        width: 96%;
    }
    .design-button{
        width: 90%;
    }
}