.header{
    width: 100%;
    background-color: black;
    height: 75px;
    margin: 0px;
}

.main-head{
    width: 1170px;
    height: 75px;
    margin: 0 auto;
    display: flex;
}

.main-head-logo{
    width: 48%;
}

.main-head-logo__axit{
    width: 184px;
    height: 100%;
}

.main-head-navigation{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.main-head-navigation__link{
    width: 114px;
    height: 100%;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 75px;
    flex-shrink: 0;
    text-decoration: none;
}

.main-head-navigation__icon{
    display: none;
    width: 24px;
    height: 18px;
    margin-top: 30px;
}

@media screen and (max-width: 1220px) {
    .main-head{
        width: 1120px;
    }
}

@media screen and (max-width: 1150px) {
    .main-head{
        width: 1000px;
    }
}

@media screen and (max-width: 1025px) {
    .main-head{
        width: 992px;
    }
    .main-head-logo__axit{
        margin-left: 15px;
    }
}

@media screen and (max-width: 1015px) {
    .main-head{
        width: 700px;
    }
}

@media screen and (max-width: 722px) {
    .main-head{
        width: 288px;
    }
    .main-head-logo__axit{
        width: 130px;
    }
    .main-head-navigation__link{
        display: none;
    }
    .main-head-navigation__icon{
        display: block;
        padding-right: 10px;
    }
}

@media screen and (max-width: 310px) {
    .main-head{
        width: 255px;
    }
}