.social-media{
    width: 100%;
    background-color: rgba(248,239,239,1);
    height: 140px;
    margin-bottom: 100px;
}

.sm-details{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.sm-details-text{
    width: 470px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 29px;
}

.sm-details-text__main{
    width: 100%;
    height: 60px;
    margin: 0px;
    color: #333;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    align-items: flex-start;
}

.sm-details-text__minor{
    width: 100%;
    height: 42px;
    margin: 0px;
    padding-top: 18px;
    color: #86878B;
    font-family: 'Raleway';
    font-size: 18px;
}

.sm-icons{
    width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sm-icons__item{
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}